---
import type { BulletedListItem } from "../../../utils/interfaces.ts";
import FormattedText from "./utils/FormattedText.astro";
import Content from "../Content.astro";
const { items } = Astro.props as { items: BulletedListItem[] };
---

<ul>
    {
        items.map((item) => (
            <li>
                {item.rich_text.map((text) => (
                    <FormattedText text={text} />
                ))}
                <Content blocks={item.children} layout="bulleted_list" />
            </li>
        ))
    }
</ul>
