---
import type { Heading2 } from "../../../utils/interfaces.ts";
import FormattedText from "./utils/FormattedText.astro";
const { block, id } = Astro.props as { block: Heading2; id: string };
---

<h3 id={id}>
    {block.rich_text.map((text) => <FormattedText text={text} />)}
    <a href=`#${id}` class="not-link anchor">#</a>
</h3>
