---
import BaseLayout from "../layout/BaseLayout.astro";
import Card from "../components/temple/Card.astro";
---

<BaseLayout title="Blog">
    <Card>
        <article
            id="blog"
            class="relative w-full h-full p-6 flex flex-col justify-between"
        >
            <div class="relative card article">
                <div class="mockup-window bg-base-300 border">
                    <div class="bg-base-200 flex justify-center p-6">
                        <i class="text-6xl my-auto icon-[mdi--hammer-wrench]"
                        ></i>
                        <p class="p-4 my-auto">
                            This project is currently under construction! Please
                            visit the
                            <a href="/about" target="_self" aria-label="About"
                                >About</a
                            >
                            page for more information! Source code repository:
                            <a
                                href="https://github.com/EveSunMaple/Shuoshuo"
                                target="_self"
                                aria-label="Repo">EveSunMaple/Shuoshuo</a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </Card></BaseLayout
>
