---
import ShuoshuoCard from "./ShuoshuoCard.astro";
import { shuoshuos } from "../utils/data";
---

<div class="grid grid-cols-1 gap-4">
    {
        shuoshuos.map((shuoshuo) => (
            <ShuoshuoCard
                id={shuoshuo.id}
                title={shuoshuo.title}
                block={shuoshuo.blocks}
                pubDate={shuoshuo.pubDate}
            />
        ))
    }
</div>
