---
import TOCBar from "./sidebar/TOCBar.astro";
import AnnouncementBar from "./sidebar/AnnouncementBar.astro";
---

<div class="relative"><AnnouncementBar /></div>
<div class="sticky top-4 mt-4">
    <TOCBar />
</div>
