---
import Image from "astro/components/Image.astro";
import Card from "../temple/Card.astro";
---

<Card>
    <h2 class="card-title">Announcement</h2>
    <p>This project is currently under construction!</p>
</Card>
