---
import { USER_AVATAR } from "../../config";
import Image from "astro/components/Image.astro";
import Card from "../temple/Card.astro";
---

<Card>
    <aside>
        <div class="relative p-2 md:p-4 flex flex-row md:flex-col">
            <div class="basis-1/2 md:mb-4 p-4 md:p-0">
                <div class="avatar online">
                    <Image
                        class="mask mask-circle"
                        format="webp"
                        width={150}
                        height={150}
                        src={USER_AVATAR}
                        alt="Profile"
                        loading="eager"
                    />
                </div>
            </div>
            <div
                class="grid grid-cols-3 content-end justify-center gap-2 basis-1/2"
            >
                <div class="card-title md:justify-center col-span-3">
                    Eve SunMaple
                </div>
                <div class="tooltip" data-tip="Github">
                    <a
                        tabindex="0"
                        class="btn"
                        id="github"
                        href="https://github.com/EveSunMaple"
                        target="_self"
                        aria-label="Github"
                        ><i class="text-2xl md:text-xl icon-[iconoir--github]"
                        ></i>
                    </a>
                </div><div class="tooltip" data-tip="Bilibili">
                    <a
                        tabindex="0"
                        class="btn"
                        id="bilibili"
                        href="https://space.bilibili.com/438392347"
                        target="_self"
                        aria-label="Bilibili"
                        ><i class="text-2xl md:text-xl icon-[ri--bilibili-line]"
                        ></i>
                    </a>
                </div><div class="tooltip" data-tip="Sponsor">
                    <a
                        tabindex="0"
                        class="btn"
                        id="sponsor"
                        href="https://afdian.com/a/saroprock"
                        target="_self"
                        aria-label="Sponsor"
                        ><i class="text-2xl md:text-xl icon-[mynaui--coffee]"
                        ></i>
                    </a>
                </div>
                <a
                    tabindex="0"
                    class="btn btn-info col-span-3"
                    id="github"
                    href="https://github.com/EveSunMaple"
                    target="_self"
                    aria-label="Github"
                    ><i class="text-2xl md:text-xl icon-[tabler--rss]"
                    ></i>Follow me</a
                >
            </div>
        </div>
        <div class="card-body p-6">
            <h5 class="card-title">Hi there!</h5>
            <p class="card-text">
                I enjoy writing reflective essays and capturing authentic
                moments from daily life, striving to connect with readers
                through shared experiences.
            </p>
        </div>
    </aside>
</Card>
